/.idea/.idea.custom-module-example.dir/.idea/.gitignore
/obj/Debug/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/win-x64/CustomModule.AssemblyInfo.cs
/obj/Debug/net6.0/win-x64/CustomModule.AssemblyInfoInputs.cache
/obj/Debug/net6.0/win-x64/CustomModule.assets.cache
/obj/Debug/net6.0/win-x64/CustomModule.csproj.AssemblyReference.cache
/obj/Debug/net6.0/win-x64/CustomModule.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/win-x64/CustomModule.csproj.FileListAbsolute.txt
/obj/CustomModule.csproj.nuget.dgspec.json
/obj/CustomModule.csproj.nuget.g.props
/obj/CustomModule.csproj.nuget.g.targets
/bin/Debug/net6.0/win-x64/CustomModule.deps.json
/obj/CustomModule.deps.json
/bin/Debug/net6.0/win-x64/ref/CustomModule.dll
/bin/Debug/net6.0/win-x64/CustomModule.dll
/obj/Debug/net6.0/win-x64/ref/CustomModule.dll
/obj/Debug/net6.0/win-x64/CustomModule.dll
/obj/CustomModule.dll
/obj/Debug/net6.0/win-x64/CustomModule.GeneratedMSBuildEditorConfig.editorconfig
/bin/Debug/net6.0/win-x64/CustomModule.pdb
/obj/Debug/net6.0/win-x64/CustomModule.pdb
/obj/CustomModule.pdb
/CustomModule.zip
/obj/Decisions.Web.Core.dll
/obj/DecisionsFramework.dll
/.idea/.idea.custom-module-example.dir/.idea/encodings.xml
/.idea/.idea.custom-module-example.dir/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net6.0/win-x64/PublishOutputs.3889ff5776.txt
/.idea/.idea.custom-module-example.dir/.idea/vcs.xml
/.idea/.idea.CustomModule/.idea/workspace.xml
/obj
/Module.Modified.xml
/bin
